/*

 __   __                                 _         _ _   _ 
 \ \ / /__  _   _    _ __ ___   __ _  __| | ___   (_) |_| |
  \ V / _ \| | | |  | '_ ` _ \ / _` |/ _` |/ _ \  | | __| |
   | | (_) | |_| |  | | | | | | (_| | (_| |  __/  | | |_|_|
   |_|\___/ \__,_|  |_| |_| |_|\__,_|\__,_|\___|  |_|\__(_)
                                                          
  WELCOME TO MY CSS FILE!

  Here you will learn all about my "unique" ideas for
  how to use styles to make this site work better.

  I've highlighted what I think are the most interesting
  bits of CSS with this symbol:

          /\
       __/\/\__
     /__/\!!/\__\
     \ -\/!!\/- /
        -\/\/-
          \/

  Scroll down, and enjoy! */

/* NORMALIZATION */
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding-left: 1rem;
}



/* TYPOGRAPHY */

/* Mobile type sizes*/
header, main, footer {
  font-family: "Merriweather", serif;
  font-display: optional;
  color: #04060A;
  line-height: 1.75;
}
/*
      /\
   __/\/\__     WTF IS THIS, Y U NO SET THIS ON BODY
 /__/\!!/\__\
 \ -\/!!\/- /   I am not setting the main font settings on the body.
    -\/\/-      Why?  I actually am using an 8pt grid system, so I
      \/        want to keep the base font size (1rem) a multiple
                of 8.  I left it at 16px because it's a sane font
                size, but now I can change the size of the main text 
                independently of the "rem" unit, which I use 
                EXTENSIVELY for layout throught this doc.
*/


h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 8px 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-display:optional;
}
h1, .h1 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2, .h2 {
  font-size: 1.875rem;
  font-weight: 900;
  line-height: 1.29;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3, .h3 {
  font-size: 1.375rem;
  font-weight: 900;
  line-height: 1.25;
}
h4, .h4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1875rem;
  line-height: 1.75;
  text-transform: uppercase;
}
h5, .h5, figcaption {
  font-size: 0.73rem;
  letter-spacing: 0.016rem;
  line-height: 1.5rem;
}
h6, .h6 {
  font-size: 0.54rem;
  letter-spacing: 0.063rem;
  line-height: 1.5rem;
}
p, figure {
  margin: 0;
  margin-bottom: 1.5rem;
}
hr {
    margin: 1rem 0;
    width: 100%;
    height: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #EAEBED;
}

@media only screen and (min-width: 48em) {
/*                                  ^
                                    |
      /\                            |
   __/\/\__     ____________________|
 /__/\!!/\__\
 \ -\/!!\/- /   GET USED TO IT PAL
    -\/\/-  
      \/        This media query is the end of mobile styles and the
                beginning of tablet and desktop styles. Almost all of
                my adjustments are made at this breakpoint. I chose
                these exact breakpoints because the coincide with the
                breakpoints of the flexbox grid system I am using.
*/
  header, main, footer {
    font-size: 1.13rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 8px 0;
  }
  h1 {
    font-size: 4.75rem;
    line-height: 1.07;
  }
  h2 {
    font-size: 2.94rem;
    line-height: 1.15;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h3 {
    font-size: 1.81rem;
    line-height: 1.24;
  }
  h4 {
    font-size: 1.125rem;
    letter-spacing: 0.25rem;
    line-height: 1.5;
  }
  h5, figcaption {
    font-size: 0.611rem;
    letter-spacing: 0.016rem;
    line-height: 1.688rem;
  }
  h6 {
    font-size: 0.389rem;
    letter-spacing: 0.063rem;
    line-height: 1.688rem;
  }
}

/* BUTTONS */
header nav a {
  line-height: 2rem;
  margin-top: 0.5rem;
  padding: 0 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.73rem;
  text-transform: uppercase;
  letter-spacing: 0.03125rem;
  display: none;
  font-weight: 700;
}
a.button {
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
  font-weight: 700;
  background: #00D9C0;
  letter-spacing: 0.03125rem;
  text-transform: uppercase;
}
a.button:after {
  content: ' \00279E';
}
a.button.medium, a.button.big {
  font-size: 1rem;
  letter-spacing: 0.0625rem;
  line-height: 2.5rem;
  padding: 0 2rem;
}
a.button.big {
  line-height: 3rem;
}
@media only screen and (min-width: 48em) {
  header nav a {
    display: inline-block;
    line-height: 2rem;
    padding: 0 1rem;
    margin: 1rem 0.5rem;
    font-size: 0.6875rem;
    letter-spacing: 0.0625rem;
  }
  header nav a:last-child {
    margin-left: 1rem;
    margin-right: 0;
  }
  a.button.medium, a.button.big {
    font-size: 1.125rem;
    line-height: 3rem;
  }
}

/* CONTAINERS AND LAYOUT */
.container {
  padding: 0 1rem;
  position: relative;
}
.center {
  text-align: center;
}
.hero {
  margin-top: 3rem;
  padding: 4rem 0;
}
@media only screen and (min-width: 48em) {
  .container {
    padding: 0; 
    width: 39rem;
  }
  .hero {
    margin-top: 4rem;
    padding: 8rem 0;
  }
}
@media only screen and (min-width: 64em) {
  .container {
    width: 75%;
    max-width: 64rem;
  }
}




/* MARKS */


/*
      /\
   __/\/\__     WHAT ARE MARKS
 /__/\!!/\__\
 \ -\/!!\/- /   See the four-color diamond in the upper left? What
    -\/\/-      about those little divider icons above the headers
      \/        on the home page? Those are actually all made with
                CSS. It's handy because I "rebrand" some of them on
                case study pages, similar to how you would with SVGs.
                I do this kind of thing because I can.
*/

.mark {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  vertical-align: top;
}
.diamond.mark {
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/*
      /\
   __/\/\__   WAIT, WHY THE PSEUDO ELEMENT?
 /__/\!!/\__\
 \ -\/!!\/- / The above style for ".diamond.mark" is actually the
    -\/\/-    *placeholder* element. This allows me to give it margin,
      \/      even though it is rotated 45 degrees. I do all of the
              visuals in the ::before pseudo element, styles below.

              Also, I think the diamond is one of my more clever
              one-element marks to date.
*/
.diamond.mark:before {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 0;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background: #00D9C0;
  box-shadow: 0 1.2rem 0 #FFBA49, 1.2rem 0 0 #FF4365, 1.2rem 1.2rem 0 #04060A;
  transform: scale(0.82) rotate(45deg);
  transform-origin: 125% 125%;
}
.stripes.mark {
  border-left: 0.5rem solid #04060A;
  box-shadow: inset 0.5rem 0 0 #FFBA49;
  background: #FF4365;
  border-right: 0.5rem solid #00D9C0;
  margin-left: auto;
  margin-right: auto;
}
/*
      /\
   __/\/\__   ...BUT THEN NO PSEUDO ELEMENT?
 /__/\!!/\__\
 \ -\/!!\/- / The above style for ".stripes.mark" doesn't *need* a
    -\/\/-    placeholder element, because it's a rectangle already.
      \/      The margins on this sucker make sense, it's oriented in
              a standard way, so I can just leave it.

              Also, notice the tricky inset shadow for the fourth line.
*/


/* HEADER */
header {
  background: #FFF;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10
}
header .diamond.mark {
  display: inline-block;
  margin-right: 0.75rem;
}
header a.home-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-weight: 700;
  line-height: 2rem;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-width: 48em) {
  header {
    height: 4rem;
  }
  header a.home-link {
    margin-top: 1rem;
    line-height: 2rem;
  }
  header .diamond.mark {
    margin-right: 1rem;
  }
}
header nav {
  float: right;
}

/* FOOTER */
footer {
  color: #fff;
  background: #6B7995;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 4rem 0 6rem 0;
}
footer.dark {
  background: #04060A;
}
footer h5 {
  color: #EAEBED;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  opacity: 0.75;
  margin-top: 1rem;
}
@media only screen and (min-width: 48em) {
  footer .leftbox {
    padding-right: 2rem;
  }
  footer .rightbox {
    padding-left: 2rem;
  }
}
@media only screen and (min-width: 75em) {
  footer .leftbox, footer .rightbox {
    padding: 0;
  }
}
/* FLOURISHES */
.flourish {
  position: absolute;
}
.flourish.north {
  top: 0;
}
.flourish.south {
  bottom: 0;
}
.flourish.east {
  right: 0;
}
.flourish.west {
  left: 0;
}
/*
      /\
   __/\/\__     HERE. WE. GOOOOOOOOOOOO!!!!!!
 /__/\!!/\__\
 \ -\/!!\/- /   I'm pretty pumped about how these flourishes turned out!
    -\/\/-      Notice above, we are setting the flourish parent elements
      \/        to move to the corners. This is not rocket science, but
                it makes it easy to read the classes aloud in the HTML file!
*/

@media only screen and (min-width: 48em) {
  .flourish.south {
    bottom: -1rem;
  }
}
/* Crop marks */
.flourish .cropmarks {
  position: relative;
  width: 1rem;
  height: 1rem;
}
.flourish .cropmarks:before, .flourish .cropmarks:after {
  position: absolute;
  display: block;
  content: '';
  background: #04060A;
}
/* Horizontal mark */
.flourish .cropmarks:before {
  width: 0.5rem;
  height: 1px;
}
/* Vertical mark */
.flourish .cropmarks:after {
  height: 0.5rem;
  width: 1px;
}
.flourish.north .cropmarks {
  margin-top: -3rem;
}
.flourish.north .cropmarks:before {
  bottom: 0;
}
.flourish.south .cropmarks {
  top: 2rem;
}
.flourish.south .cropmarks:after {
  bottom: 0rem;
}
.flourish.east .cropmarks {
  margin-right: 0.5rem;
}
.flourish.east .cropmarks:before {
  right: 0;
}
.flourish.west .cropmarks {
  margin-left: 0.5rem;
}
.flourish.west .cropmarks:after {
  right: 0;
}
/*
      /\
   __/\/\__     WOW, THAT IS A *BIT* OUT OF HAND
 /__/\!!/\__\
 \ -\/!!\/- /   LOL, I mean, I probably could have gotten away with rotating
    -\/\/-      the parent element, ".flourish .cropmarks". This just made the
      \/        most sense in my head when I was making these, and it works
                predictably, so.... whatever haha
*/

@media only screen and (min-width: 48em) {
  .flourish .cropmarks {
    width: 2rem;
    height: 2rem;
  }
  .flourish .cropmarks:before {
    width: 1rem;
  }
  .flourish .cropmarks:after {
    height: 1rem;
  }
  .flourish.north .cropmarks {
    margin-top: -6rem;
  }
  .flourish.north .cropmarks {
    margin-bottom: -6rem;
  }
  .flourish.east .cropmarks {
    margin-right: -2rem;
  }
  .flourish.west .cropmarks {
    margin-left: -2rem;
  }
}

/* Circle flourishes */
.flourish .circles {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  background: #04060A;
  box-shadow: 0 0.875rem 0 #FFBA49, 0 1.8125rem 0 #FF4365, 0 2.75rem 0 #00D9C0;
/*
      /\
   __/\/\__     SEE THESE BOX SHADOWS?
 /__/\!!/\__\
 \ -\/!!\/- /   I'm using those to echo the circles vertically. This lets me make
    -\/\/-      one element into as many identically shaped elements as I need!
      \/    
                Later I turn this approach up to 11...
*/
  margin-left: 0.5rem;
  margin-top: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.flourish.south .circles {
  display: none;
}
@media only screen and (min-width: 48em) {
  .flourish .circles {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    background: #04060A;
    box-shadow: 0 1.375rem 0 #FFBA49, 0 2.75rem 0 #FF4365, 0 4.125rem 0 #00D9C0;
    margin-left: -2rem;
    margin-top: 0.5rem;
  }
  .flourish.south.west .circles {
    display: block;
      margin-top: 0;
      top: -7rem;
      left: -0.5rem;
  }
}
@media only screen and (min-width: 64em) {
  .flourish.south.west .circles {
    left: 0rem;
  }
}
/* Page label */
.flourish .pagelabel {
  font-size: 0.54rem;
  font-weight: 200;
  letter-spacing: 0.015625rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  text-align: left;
  color: #6B7995;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.125rem;
  margin-top: 1rem;
  transform-origin: 0 0;
  transform: rotate(90deg);
  line-height: 1rem;
  width: 100vw;
}
@media only screen and (min-width: 48em) {
  .flourish .pagelabel {
    font-size: 0.6875rem;
    letter-spacing: 0.0625rem; 
    margin-left: 2rem;
    margin-top: 1rem;
  }
}

/* Registration Marks*/
/*
      /\
   __/\/\__     GOOD LUCK, PARTNER
 /__/\!!/\__\
 \ -\/!!\/- /   If you can follow what's going on here, you probably have
    -\/\/-      too much time on your hands.  These guys are sadly not able
      \/        to be pixel perfect with only one div, so I gave up and
                threw in a second element.

                I know, I'm a loser. =P
*/
.flourish .registration {
  width: 2rem;
  height: 2rem;
  position: absolute;
}
.flourish .registration.color {
  width: 2.0625rem;
  height: 2.0625rem;
}
.flourish.south .registration {
  top: 4rem;
}
.flourish.west .registration {
  left: 0.5rem;
}
.flourish.east .registration {
  right: 0.5rem;
}
.flourish.east .registration.color {
  right: 0.4375rem;
}

.flourish.north.east .registration, .flourish.north.east .registration.color {
  top: -3rem;
}

.flourish .registration:before, .flourish .registration:after, .flourish .registration .target:before, .flourish .registration .target:after {
  content: '';
  position: absolute;
  display: block;
  box-sizing: border-box;
}
.flourish .registration:before {
  border-right: 1px solid #04060A;
  border-bottom: 1px solid #04060A;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
}
.flourish .registration:after {
  border-left: 1px solid #04060A;
  border-top: 1px solid #04060A;
  width: 1rem;
  height: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.flourish .registration.color:before {
  border: none;
  width: 1px;
  height: 100%;
  left: 1rem;
  background: #04060A;
  z-index: 1;
}
.flourish .registration.color:after {
  border: none;
  width: 100%;
  height: 1px;
  top: 1rem;
  background: #04060A;
}
.flourish .registration .target {
  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #04060A;
  border-radius: 100%;
  position: absolute;
  top: .25rem;
  left: .25rem;
}
.flourish .registration.color .target {
  width: 1.5625rem;
  height: 1.5625rem;
}
.flourish .registration .target:before {
  background: #04060A;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
}
.flourish .registration.color .target:before {
  width: 1.0625rem;
  height: 1.0625rem;
}
.flourish .registration .target:after {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  border-top:0.4375rem solid #fff;
  border-right:0.4375rem solid #04060A;
  border-bottom:0.4375rem solid #fff;
  border-left:0.4375rem solid #04060A;
  transform: rotate(45deg);
}
.flourish .registration.color .target:after {
  width: 0.9375rem;
  height: 0.9375rem;
  border-top:0.4375rem solid #FF4365;
  border-right:0.4375rem solid #04060A;
  border-bottom:0.4375rem solid #FFBA49;
  border-left:0.4375rem solid #00D9C0;
}
@media only screen and (min-width: 48em) {
  .flourish.west .registration {
    left: -4rem;
  }
  .flourish.east .registration, .flourish.east .registration.color  {
    right: -4rem;
  }
  .flourish .registration.color:before {
    margin-left: 0px;
  }
  .flourish.north.east .registration, .flourish.north.east .registration.color {
    right: -1rem;
    top: -5rem;
  }
}


/* Swatches */
.flourish .swatches {
  display: none;
}
@media only screen and (min-width: 48em) {
  .flourish .swatches {
    display: block;
    width: 1rem;
    height: 1rem;
    background: #00D9C0;
    position: absolute;
    box-shadow: 0 1.25rem 0 rgba(100, 217, 192, 0.8), 0 2.5rem 0 rgba(100, 217, 192, 0.6), 0 3.75rem 0 rgba(100, 217, 192, 0.4), 0 5rem 0 rgba(100, 217, 192, 0.2),               0 6.75rem 0 rgba(255, 67, 101, 1), 0 8rem 0 rgba(255, 67, 101, 0.8), 0 9.25rem 0 rgba(255, 67, 101, 0.6), 0 10.5rem 0 rgba(255, 67, 101, 0.4), 0 11.75rem 0 rgba(255, 67, 101, 0.2),               0 13.5rem 0 rgba(255, 186, 73, 1), 0 14.75rem 0 rgba(255, 186, 73, 0.8), 0 16rem 0 rgba(255, 186, 73, 0.6), 0 17.25rem 0 rgba(255, 186, 73, 0.4), 0 18.5rem 0 rgba(255, 186, 73, 0.2),               0 20.25rem 0 rgba(4, 6, 10, 1), 0 21.5rem 0 rgba(4, 6, 10, 0.8), 0 22.75rem 0 rgba(4, 6, 10, 0.6), 0 24rem 0 rgba(4, 6, 10, 0.4), 0 25.25rem 0 rgba(4, 6, 10, 0.2);
/*
      /\
   __/\/\__     UH.... WHAT AM I SEEING HERE EXACTLY
 /__/\!!/\__\
 \ -\/!!\/- /   Remember earlier when I showed that box-shadow thing? Here it
    -\/\/-      is taken to an unhealthy level. This is actually one element
      \/        with 19 box shadows, resulting in 20 squares that make up a
                long strip of squares. Look for one at the bottom of the home
                page in the left corner.
*/
  }
  .flourish.north .swatches {
    top: 0rem;
  }
  .flourish.south .swatches {
    bottom: 27.25rem;
  }
  .flourish.west .swatches {
    left: -2rem;
  }
  .flourish.north.west .swatches {
    left: -3rem;
  }
}
@media only screen and (min-width: 48em) {
  .flourish.north.west .swatches {
    left: -2rem;
  }
}

/* TRANSITIONS */
section {
  perspective: 64rem;
  min-height: 55vh;
  display: flex;
  align-items: center;

}
.rollcage {
  transform: translateZ(-20rem) rotateX(0deg) translateZ(20rem);
  opacity: 1;
}
.rollcage.animate {
  transition: transform 1s, opacity 0.5s;
}
.rollcage.hidden {
  transform: translateZ(-20rem) rotateX(-8deg) translateZ(20rem);
  opacity: 0;
  will-change: opacity, transform;
}



@media only screen and (min-width: 48em) {
  .rollcage.hidden {
    transform: translateZ(-20rem) rotateX(-15deg) translateZ(20rem);
  }
}

/* HOME */
#home .hero {
  text-align: center;
}
#home .hero h4 {
  color: #6B7995;
  margin: 0;
}
#home .statement {
  padding: 4rem 0;
  background: #6B7995;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#home .statement.dark {
  background: #04060A;
}
#home .statement h2 {
  margin-bottom: 1.5rem;
}
#home .hero .profile-picture {
  position: absolute;
  background: #EAEBED;
  top: 0;
  left: 0;
  overflow: hidden;
}
#home .hero .profile-picture:after {
  content: '';
  display: block;
  clear: both;
}
.coin {
  width: 60%;
  padding-top: 60%;
  margin: 0 auto;
  perspective: 32rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
}
.coin .front, .coin .back {
  animation: frontCoin 20s infinite;
  position: absolute;
  top: 0;
  box-shadow: 0px 16px 24px rgba(0,0,0,0.2);
  border-radius: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(0deg);
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.coin .back {
  animation: backCoin 20s infinite;
  background: #6B7995;
  overflow: hidden;
  z-index: -1;
}
.coin .back video {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  min-height: 100%;
  min-width: 100%;
  width: auto; 
  height: auto;
  max-height: 100%;
}
@keyframes frontCoin {
    0%   {transform: rotateY(0deg);}
    15%   {transform: rotateY(0deg);}
    16.5%  {transform: rotateY(-20deg);}
    18.5% {transform: rotateY(200deg);}
    20% {transform: rotateY(180deg);}
    95% {transform: rotateY(180deg);}
    96.5% {transform: rotateY(160deg);}
    98.5%  {transform: rotateY(380deg);}
    100%  {transform: rotateY(360deg);}
    }
    
@keyframes backCoin {
    0%   {transform: rotateY(180deg);}
    15%   {transform: rotateY(180deg);}
    16.5%  {transform: rotateY(160deg);}
    18.5% {transform: rotateY(380deg);}
    20% {transform: rotateY(360deg);}
    95% {transform: rotateY(360deg);}
    96.5% {transform: rotateY(340deg);}
    98.5%  {transform: rotateY(560deg);}
    100%  {transform: rotateY(540deg);}
    }


#home .hero .button {
  margin-top: 2rem;
}
#home .hero .profile-picture .photo {
  border-radius: 100%;
  width: 100%;
  max-width: 100%;
  height: auto;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
#home .hero .profile-picture .photo.blur {
  -webkit-filter: blur(0.25rem);
  filter: blur(0.25rem);
}
#home .case-studies, #home .other-work {
  padding-top: 4rem;
  display: block;
}
#home .other-work {
  padding-bottom: 7.5rem; 
  text-align: center;
}
#home .other-work a.button {
  background: #04060A;
  margin-bottom: 4rem;
}
#home .case-studies > h2, #home .other-work > h2 {
  margin-bottom: 3rem;
  text-align: center;
}

#home .case-study.hologram {
  background: linear-gradient(135deg, #00A5FF 0%, #FE17C2 100%);
}
#home .case-study.hologram a.button.medium {
  color: #FE17C2;
}
#home .case-study.hologram .mask .logo {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/holo-cutout.svg');
}

#home .case-study.newsy {
  background-image: linear-gradient(135deg, #051521 0%, #41A5F0 100%);
}
#home .case-study.newsy a.button.medium {
  color: #41A5F0;
}
#home .case-study.newsy .mask .logo {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/newsy-cutout.svg');
}

#home .case-study.wrigley-rooftops {
  background: linear-gradient(135deg, #173029 0%, #0C662C 100%);
}
#home .case-study.wrigley-rooftops a.button.medium {
  color: #0C662C;
}
#home .case-study.wrigley-rooftops .mask .logo {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/wrigley-cutout.svg');
}

#home .case-study.smart-mirror {
  background: linear-gradient(135deg, #131E35 0%, #6B7995 100%);
}
#home .case-study.smart-mirror a.button.medium {
  color: #6B7995;
}
#home .case-study.smart-mirror .mask .logo {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/mirror-cutout.svg');
}

#home .case-study.voice-search {
  background-image: linear-gradient(135deg, #48021E 0%, #940404 100%);
}
#home .case-study.voice-search a.button.medium {
  color: #940404;
}
#home .case-study.voice-search .mask {
  transform: scale(40, 40);
}
#home .case-study.voice-search .mask .logo {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/voice-cutout.svg');
}

#home .case-study.guidance {
  background: #07c5f9;
  background: -moz-linear-gradient(-45deg,  #07c5f9 0%, #3251ff 33%, #2162ef 65%, #712ae2 100%);
  background: -webkit-linear-gradient(-45deg,  #07c5f9 0%,#3251ff 33%,#2162ef 65%,#712ae2 100%);
  background: linear-gradient(135deg,  #07c5f9 0%,#3251ff 33%,#2162ef 65%,#712ae2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#07c5f9', endColorstr='#712ae2',GradientType=1 );
}

#home .case-study {
  background: #6B7995;
  background-position: center;
  background-size: cover;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}
#home .case-study.card {
  border-radius: 2rem;
}
#home .case-study:last-child {
  margin-bottom: 0;
}
#home .case-study h2 {
  margin-bottom: 1rem;
  margin-top: 0;
}
#home .case-study h5 {
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
#home .case-study a.button.medium {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  color: #000;
  mix-blend-mode: screen;
}
#home .case-study .mask {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  transform: scale(20, 20);
  opacity: 0;
  pointer-events: none;
  will-change: transform, opacity;
  transition: none;
}
#home .case-study.animate .mask {
  transition: transform 0.5s cubic-bezier(0.5,0,.75,0), 0s opacity 1s;
}
#home .case-study.hidden .mask {
  transform: scale(1, 1);
  opacity: 1;
}
#home .case-study > .row {
  will-change: opacity;
  transition: none;
  opacity: 1;
}
#home .case-study.animate > .row {
  transition: 0.5s opacity 0.3s;
}
#home .case-study.hidden > .row {
  opacity: 0;
}

#home .case-study .mask:before,
#home .case-study .mask:after,
#home .case-study .mask .logo:before,
#home .case-study .mask .logo:after {
  background: #fff;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(35% + 2px);
}
#home .case-study .mask:after {
  top: auto;
  bottom: 0;
}
#home .case-study .mask .logo {
  position: absolute;
  top: 35%;
  width: 100%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}
#home .case-study .mask .logo:before,
#home .case-study .mask .logo:after {
  top: 0;
  width: 25%;
  height: 100%;
}
#home .case-study .mask .logo:after {
  left: auto;
  right: 0;
}
#home .other-work .shot {
  padding-top: 75%;
  background-color: #EAEBED;
  margin-bottom: 1rem;
  background-size: cover;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.16);
}
#home .other-work video {
  margin-bottom: 1rem;
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.16);
  max-width: 100%;
  float: left;
}
@media only screen and (min-width: 48em) {
  #home .case-study {
    padding: 4rem 0;
    margin-bottom: 4rem;
  }
  #home .case-study .mask .logo:before,
  #home .case-study .mask .logo:after {
    width: 35%;
  }
  #home .hero {
    text-align: initial;
    padding: 10rem 0;
  }
  #home .hero h1 {
    margin-bottom: 2rem;
  }
  #home .hero .button.big {
    margin-top: 3rem;
  }
  #home .hero .coin {
    width: 100%;
    padding-top: 100%;
  }
  #home .flourish.north {
    top: -2rem;
  }
  #home .statement {
    padding: 8rem 0;
  }
  #home .mark {
    margin-bottom: 1.5rem;
  }
}

/* RESUME */
#resume h1, #resume h2, #resume h3, #resume h4, #resume h5, #resume h6 {
  margin-bottom: 0.5rem;
}
#resume h2 {
  margin: 6rem 0 3rem 0;
}
#resume {
  margin-bottom: 3rem;
}
#resume .flourish.south {
  bottom: 1rem;
}
#resume h2:first-of-type {
  margin-top: 3rem;
}
#resume ul {
  margin-bottom: 3.5rem;
}
@media only screen and (min-width: 48em) {
  #resume {
    margin-bottom: -1rem;
  }
  #resume .flourish.south {
    bottom: -1rem;
  }
}

/* CASE STUDY TEMPLATE */
main.case-study section:nth-child(2n + 2) {
  background: #EFF0F1;
  padding: 4rem 0;
}
main.case-study section:nth-child(2n + 3) {
  padding: 6rem 0;
}
main.case-study .hero .mark {
    margin-top: 3rem;
}
main.case-study .asset {
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.16);
  margin-bottom: 2rem;
}
main.case-study .asset.no-shadow {
  box-shadow: none;
}
main.case-study .asset.no-margin {
  margin-bottom: 0rem;
}
main.case-study .asset:after {
  content: '';
  display: block;
  clear: both;
}
main.case-study .asset img, main.case-study .asset video {
  width: 100%;
  float: left;
  max-width: 100%;
}
main.case-study h2 {
  margin-top: 0;
  margin-bottom: 1rem;
}
main.case-study .hero .hero-image-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  z-index: -1;
}
main.case-study .hero .hero-image-container .hero-image {
  position: absolute;
  width: 100%;
  padding-top: 85%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
}
main.case-study section.compilation {
  background: #6B7995;
  padding: 4rem 0;
}
main.case-study .compilation img {
  max-width: 100%;
  width: 100%;
}
main.case-study .hero h4 {
  color: #6B7995;
  margin: 1rem 0;
}
@media only screen and (min-width: 48em) {
  main.case-study .compilation {
    padding: 8rem 0;
  }
  main.case-study section:nth-child(2n + 2) {
    padding: 6rem 0;
  }
  main.case-study section:nth-child(2n + 2) .textbox {
    padding-left: 1rem;
  }
  main.case-study section:nth-child(2n + 3) {
    padding: 8rem 0;
  }
  main.case-study section:nth-child(2n + 3) .textbox {
    padding-right: 1rem;
  }
  main.case-study .hero .mark {
    margin-top: 4rem;
  }
  main.case-study .asset {
    margin-bottom: 0;
  }
  main.case-study .asset.two-up {
    margin-bottom: 2rem;
  }
  main.case-study .asset.two-up.no-margin {
    margin-bottom: 0rem;
  }
  main.case-study h2 {
    margin-bottom: 2rem;
  }
  main.case-study .hero h4 {
    margin: 2rem 0;
  }
}
@media only screen and (min-width: 75em) {
  main.case-study section:nth-child(2n + 2) .textbox {
    padding-left: 0;
  }
  main.case-study section:nth-child(2n + 3) .textbox {
    padding-right: 0;
  }
}
/* Hidden Case Study */
#actors_studio .hero-image {
  background-image: url(https://storage.googleapis.com/media.drewvosburg.com/actorStudioHero.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 70%;
  box-sizing: border-box;
}
@media only screen and (min-width: 48em) {
  #actors_studio .hero-image {
    height: 150%;
    max-height: 667px;
  }
}

/* Hidden Case Study */
#shopfresh {
  color: #211A1E;
}
#shopfresh .hero h4 {
  color: rgba(33, 26, 30, 0.5);
}
#shopfresh .hero-image {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/shopfresh-card.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
#shopfresh .hero .hero-image-container {
  padding-top: 50%;
}
#shopfresh .container img {
  width: 100%;
}
#shopfresh .compilation img {
  box-shadow: 0 24px 48px 0 rgba(0,0,0,0.24);
  background: #fff;
}
#shopfresh .stickies {
  margin-bottom: 2rem;
  display: inline-block;
}
#hologram .diamond.mark:before {
  background: #00A5FF;
  box-shadow: 0 1.2rem 0 #FFCF49, 1.2rem 0 0 #FF375D, 1.2rem 1.2rem 0 #211A1E;
}
#shopfresh .flourish .circles {
  background: #211A1E;
  box-shadow: 0 0.875rem 0 #FFCF49, 0 1.8125rem 0 #FF375D, 0 2.75rem 0 #0EE17B;
}
@media only screen and (min-width: 48em) {
  #shopfresh .flourish .circles {
    box-shadow: 0 1.375rem 0 #FFCF49, 0 2.75rem 0 #FF375D, 0 4.125rem 0 #0EE17B;
  }
}

/* Hologram Case Study */
#hologram .hero-image-container {
  overflow: visible;
}
#hologram .hero-image-container:before, #hologram .hero-image-container:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100vw;
}
#hologram .hero-image-container:before {
  height: 100vw;
  top: 100%;
  margin-top: -1px;
  background: #fff;
  z-index: 1;
}
#hologram .hero-image-container:after {
  height: 3rem;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
}
#hologram .hero-image {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/Hologram%20hero.png');
  background-position: top left;
  width: 160%;
  left: 10%;
  top: -10%;
}
#hologram .flourish .circles {
  background: #0A1435;
  box-shadow: 0 0.875rem 0 #1EFECB, 0 1.8125rem 0 #00A5FF, 0 2.75rem 0 #FE17C2;
/*
      /\
   __/\/\__     MORE FLOURISHES?
 /__/\!!/\__\
 \ -\/!!\/- /   This is me branding existing flourish elements for case studies.
    -\/\/-
      \/
*/
}
#hologram .diamond.mark:before {
  background: #00A5FF;
  box-shadow: 0 1.2rem 0 #1EFECB, 1.2rem 0 0 #FE17C2, 1.2rem 1.2rem 0 #0A1435;
}
@media only screen and (min-width: 48em) {
  #hologram .flourish .circles {
    box-shadow: 0 1.375rem 0 #1EFECB, 0 2.75rem 0 #00A5FF, 0 4.125rem 0 #FE17C2;
  }
  #hologram .hero-image-container:before, #hologram .hero-image-container:after {
    display: none;
  }
  #hologram .hero-image-container {
    position: absolute;
  }
  #hologram .hero-image {
    padding-top: 110%;
    width: 115%;
    left: 0;
    top: -5%;
  }
}
@media only screen and (min-width: 64em) {
/*                                 ^
      /\                           |
   __/\/\__   _____________________|
 /__/\!!/\__\
 \ -\/!!\/- /   A RARE BREED
    -\/\/-
      \/        This is one of the few times I specifically target
                larger screens, to make sure the header image for
                this case study looks good on tablets and up
*/
  #hologram .hero-image {
    width: 90%;
    padding-top: 90%;
    top: -10%;
  }
}
/* Wrigley Rooftops Case Study */
#wrigley-rooftops .flourish .circles {
  background: #162B53;
  box-shadow: 0 0.875rem 0 #0C662C, 0 1.8125rem 0 #F7CE00, 0 2.75rem 0 #7D6755;
}
#wrigley-rooftops .diamond.mark:before {
  background: #F7CE00;
  box-shadow: 0 1.2rem 0 #7D6755, 1.2rem 0 0 #0C662C, 1.2rem 1.2rem 0 #162B53;
}
#wrigley-rooftops .hero-image-container {
  overflow: visible;
  padding-top: 60%;
}
#wrigley-rooftops .hero-image {
  background-image: url(https://storage.googleapis.com/media.drewvosburg.com/wrigley-hero.png);
    background-position: top left;
    width: 300%;
    left: -45%;
    top: -70%;
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 48em) {
  #wrigley-rooftops .flourish .circles {
    box-shadow: 0 1.375rem 0 #0C662C, 0 2.75rem 0 #F7CE00, 0 4.125rem 0 #7D6755;
  }
  #wrigley-rooftops .hero-image-container {
    position: absolute;
  }
  #wrigley-rooftops .hero-image {
    padding-top: 110%;
      width: 140%;
    top: -50%;
    left: -40%;
  }
}

/* Newsy Case Study */
#newsy .flourish .circles {
  background: #000;
  box-shadow: 0 0.875rem 0 #FF7800, 0 1.8125rem 0 #41A5F0, 0 2.75rem 0 #E3E3E3;
}
#newsy .diamond.mark:before {
  background: #E3E3E3;
  box-shadow: 0 1.2rem 0 #41A5F0, 1.2rem 0 0 #FF7800, 1.2rem 1.2rem 0 #000;
}
#newsy .hero-image-container {
  overflow: visible;
  padding-top: 60%;
}
#newsy .hero-image {
  background-image: url(https://storage.googleapis.com/media.drewvosburg.com/newsy-hero.png);
    background-position: top left;
    width: 100%;
    left: 0;
    top: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 48em) {
  #newsy .flourish .circles {
    box-shadow: 0 1.375rem 0 #FF7800, 0 2.75rem 0 #41A5F0, 0 4.125rem 0 #E3E3E3;
  }
  #newsy .hero-image-container {
    position: absolute;
  }
  #newsy .hero-image {
    padding-top: 110%;
    width: 115%;
    left: 0;
    top: -5%;
  }
}
@media only screen and (min-width: 75em) {
/*                                 ^
      /\                           |
   __/\/\__     ___________________|
 /__/\!!/\__\
 \ -\/!!\/- /   WAIT YOU JUST DID IT AGAIN...
    -\/\/-
      \/        Right but this one is for even bigger screens. Another
                hero image though.
*/
  #newsy .hero-image {
    padding-top: 28rem;
    top: 0%;
    left: 5%;
  }
}
/* VOICE SEARCH CASE STUDY */
main.case-study#voice-search {
  padding-bottom: 3.5rem;
}
#voice-search p a, #smart-mirror p a, #actors_studio p a {
  box-shadow: inset 0 -0.125em 0 #FFBA49;
    transition: all 0.2s;
    text-shadow:  0 0 0 2 #fff;
}
#voice-search p a:hover, #smart-mirror p a:hover, #actors_studio p a:hover {
  box-shadow: inset 0 -0.9em 0 #FFBA49;
}
#voice-search img, #voice-search video {
  max-width: 100%;
  display: inline-block;
  margin: 0 auto;
}
#voice-search figcaption {
  color: #6B7995;
  text-align: center;
  line-height: 1.5;
  margin-top: 0.5rem;
}
#voice-search h2 {
  margin-top: 3rem;
}
#voice-search figure {
  text-align: center;
}
#voice-search .hero .hero-image {
  padding-top: 0;
  position: relative;
}
#voice-search .hero .hero-image-container {
  padding-top: 0%;
  margin-top: -3rem;
  z-index: 1;
  position: relative;
}
#voice-search .hero-image a {
  display: block;
  text-align: center;
}
#voice-search ul, #voice-search ol {
  margin-bottom: 1rem;
}
#voice-search li {
  margin-bottom: 0.5rem;
}
@media only screen and (min-width: 48em) {
  #voice-search .hero .hero-image-container {
    padding-top: 0;
    margin-top: 0;
  }
  #voice-search h2 {
    margin-top: 6rem;
  }
  #voice-search figcaption {
    margin-top: 1rem;
  }
  #voice-search ul, #voice-search ol {
    margin-bottom: 1.5rem;
  }
  #voice-search li {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 75em) {
/*                                 ^
      /\                           |
   __/\/\__     ___________________|
 /__/\!!/\__\
 \ -\/!!\/- /   OK FINE I DO IT FOR ALL OF THE HERO IMAGES OK
    -\/\/-
      \/        Just trying to keep you on your toes.
*/
  #voice-search .hero .hero-image {
    margin-top: -3.5rem;
    left: 10%;
  }
}
/* SMART MIRROR CASE STUDY */
#smart-mirror .hero-image {
  background-image: url('https://storage.googleapis.com/media.drewvosburg.com/mirror.png');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 75%;
}
/* HIDDEN CASE STUDY ABOUT [REDACTED] */
#mirs .flourish .circles {
  background: #504755;
  box-shadow: 0 0.875rem 0 #E31C3D, 0 1.8125rem 0 #4AA464, 0 2.75rem 0 #0071BB;
}
#mirs .diamond.mark:before {
  background: #0071BB;
  box-shadow: 0 1.2rem 0 #4AA464, 1.2rem 0 0 #E31C3D, 1.2rem 1.2rem 0 #504755;
}
@media only screen and (min-width: 48em) {
  #mirs .flourish .circles {
    box-shadow: 0 1.375rem 0 #E31C3D, 0 2.75rem 0 #4AA464, 0 4.125rem 0 #0071BB;
  }
}
/* HIDDEN CASE STUDY ABOUT [REDACTED] */
#guidance .flourish .circles {
  background: #404040;
  box-shadow: 0 0.875rem 0 #D93616, 0 1.8125rem 0 #63BE09, 0 2.75rem 0 #1877F2;
}
#guidance .diamond.mark:before {
  background: #1877F2;
  box-shadow: 0 1.2rem 0 #63BE09, 1.2rem 0 0 #D93616, 1.2rem 1.2rem 0 #404040;
}
@media only screen and (min-width: 48em) {
  #guidance .flourish .circles {
    box-shadow: 0 1.375rem 0 #D93616, 0 2.75rem 0 #63BE09, 0 4.125rem 0 #1877F2;
  }
}
/* HIDDEN CASE STUDY ABOUT [REDACTED] */
#catalog .flourish .circles {
  background: #404040;
  box-shadow: 0 0.875rem 0 #D93616, 0 1.8125rem 0 #63BE09, 0 2.75rem 0 #1877F2;
}
#catalog .diamond.mark:before {
  background: #1877F2;
  box-shadow: 0 1.2rem 0 #63BE09, 1.2rem 0 0 #D93616, 1.2rem 1.2rem 0 #404040;
}
@media only screen and (min-width: 48em) {
  #catalog .flourish .circles {
    box-shadow: 0 1.375rem 0 #D93616, 0 2.75rem 0 #63BE09, 0 4.125rem 0 #1877F2;
  }
}